
body * {
    outline: none;
    font-size: inherit;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

html, body
  {
  min-height: 100%;
  }

html
  {
  font-size: 24px;
  font-family: sans-serif-condensed,Helvetica,Arial,sans-serif;
  }

body
  {
  margin:      0px;
  height: 100%;
  }

/* Header and Footer */

header, footer {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 50;

    border-style: outset;
    border-width: 2px;
    background-color: #F0F0FF;
    padding: 10px;
}

header
  {
    top: 0px;
/*    border-bottom-style: none; */
  }

#header-status
  {
      font-size: 80%;
  }

#header-path
  {
      font-weight: bold;
  }

footer
  {
    bottom: 0px;
    border-top-style: none;
  }

fieldset
  {
  margin-top:    5px;
  margin-bottom: 5px;
  }

div#browser > div
  {
  position: relative;
  }

.widget
  {
  border-style: outset;
  border-width: 2px;
  background-color: #F0F0F0;
  padding: 10px;
  }

legend
  {
  border-style: outset;
  border-width: 2px;
  font-weight: bold;
  padding: 10px;
  background-color: #ffffcc;
  }

/* Control */

div[data-klass="control.slider"] input,
div[data-klass="control.button"] button,
div[data-klass="control.meter"] meter,
div[data-klass="control.volume"] meter
  {
  width: 100%;
  }

div[data-klass="control.power"][data-value="1"] button
  {
  color: #00ff00;
  }

div[data-klass="control.power"][data-value="0"] button
  {
  color: #404040;
  }

div[data-klass="container"] button,
div[data-klass="control.link"] button,
  {
      border-style: none;
      background-color: transparent;
      color: inherit;
  }

.clickable
  {
  border-radius: 0.5em;
  }

.clickable,
.pulldown-menu
  {
  border-width: 3px;
  border-style: outset;
  background: #e0e0e0;
/*  min-height: 2.0em; */
  }

meter {
  height: 1.5em;
/*  border-width: 10px; 
  border-style: inset; */
/*   box-shadow: 0 5px 5px -5px #333 inset; */
}

.clickable:active
  {
  border-style: solid;
  background-color: #404040;
  color: #e0e0e0;
  }

.clickable:hover
  {
  background-color: #808080;
  }
 
div[data-klass="control.button"] button,
div[data-klass="control.rgbcolor"] input
  {
      height: 2em;
  }

div[data-klass="control.rgbcolor"] input
  {
      width: 100%;
  }

div[data-klass="control.curve"] canvas
  {
      width: 100%;
      height: 10em;
  }

.disabler
  {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      z-index: 25;
      background-color: rgba(255, 255, 255, 0.7);
      display: none;
  }

div[data-offline="true"] > .disabler
  {
      display: block;
  }


/*

div[data-klass="container"],
div[data-klass="control.link"],
div[data-klass="control.pulldown"] table table,
.pulldown-menu,
div[data-klass="control.power"] button
  {
  border-width: 2pt;
  border-style: solid;
  background: #e0e0e0;
  }

*/

.menu-item[data-active="true"]
  {
  background: #808080;
  }

[class^="icon-"]
  {
  width:  1.8em;
  height: 1.8em;
  font-size: 150%;
  }

.pulldown-menu
  {
  position: absolute;
  min-width: 30%;
  z-index: 100;
  
  }

.pulldown-menu[data-active="false"]
  {
  display: none;
  }

.pulldown-menu[data-active="true"]
  {
  display: block;
  }


