body * {
    outline: none;
    font-size: inherit;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

html
  {
  font-family: sans-serif-condensed,Helvetica,Arial,sans-serif;
  color:       #000000;
  background-color: #FFFFFF;
  font-size:   36px;
  }


div[data-power="1"] button
  {
  color:       #00f000;
  }

div[data-power="0"] button
  {
  color:       #808080;
  }


.label:before {
  content: attr(data-label);
}

