
body * {
    outline: none;
    font-size: inherit;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

html, body
  {
  min-height: 100%;
  }

html
  {
  font-size: 36px;
  font-family: sans-serif-condensed,Helvetica,Arial,sans-serif;
  }

body
  {
  margin:      0px;
  height: 100%;
  }

/* Header and Footer */

header, footer {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 50;
  }

header
  {
    top: 0px;
    border-bottom-style: none;
  }

footer
  {
    bottom: 0px;
    border-top-style: none;
  }

div#browser > div
  {
  padding: 5px;
  }



/* Control */

div[data-klass="control.slider"] input,
div[data-klass="control.button"] button,
div[data-klass="control.meter"] meter,
div[data-klass="control.volume"] meter
  {
  width: 100%;
  }

div[data-klass="control.power"] button
  {
  width:  1.4em;
  height: 1.4em;
  font-size: 150%;
  }

div[data-klass="control.power"][data-value="1"] button
  {
  color: #00ff00;
  }

div[data-klass="control.power"][data-value="0"] button
  {
  color: #404040;
  }

div[data-klass="container"] button,
div[data-klass="control.link"] button,
div[data-klass="control.pulldown"] button
  {
      border-style: none;
/*      border: none; */
      width:  1.4em;
      height: 1.4em;
      font-size: 150%;
      background-color: transparent;
      color: inherit;
  }

div[data-klass="container"] button:active,
div[data-klass="control.link"] button:active,
div[data-klass="control.power"] button:active,
div[data-klass="control.volume"] button:active
  {
      border-style: solid;
      background-color: #404040;
      color: #e0e0e0;
  }

div[data-klass="container"],
div[data-klass="control.link"],
div[data-klass="control.pulldown"] table table,
.pulldown-menu,
div[data-klass="control.power"] button
  {
  border-width: 2pt;
  border-style: solid;
  background: #e0e0e0;
  }

div[data-klass="control.pulldown"] table table:hover,
.menu-item[data-active="true"],
button:hover
  {
  background: #808080;
  }

[class^="icon-"]
  {
  width:  1.4em;
  height: 1.4em;
  font-size: 150%;
  }

.pulldown-menu
  {
  position: absolute;
  min-width: 30%;
  z-index: 100;
  
  }

.pulldown-menu[data-active="false"]
  {
  display: none;
  }

.pulldown-menu[data-active="true"]
  {
  display: block;
  }


